.homepage-grid {
  display: flex;
  grid-gap: 10px;
  align-items: stretch;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  flex-wrap: wrap;
}

.filter-container {
  border: 3px solid purple;
  width: 75vw;
  height: 85%;
}

.start-text {
  font-size: 2em;
  text-align: center;
}

.filter-links {
  border: 2px solid white;
  height: 90%;
  width: 90%;
  margin: 0 auto;
}

.button-container {
  border: 1px solid magenta;
  height: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

button {
  background-color: transparent;
  border: 1px solid white;
  color: white;

}