.homepage-grid {
  display: flex;
  grid-gap: 10px;
  width: 90%;
  box-sizing: border-box;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  margin-top: 20px;
}

.sort-btn {
  background-color: darkorange;
  border: 1px solid black;
  color: black;
  font-size: 22px;
  box-shadow: 1.5px 1px 2px blanchedalmond;
  border-radius: 3px;
  margin: 1% 4%;
  padding: 0.5%;
  
  &:hover {
    cursor: pointer;
    background-color: blanchedalmond;
    color: black;
    transform:scale(1.05);
      transition-duration: 200ms;
  }
  
  &:focus {
    background-color: blanchedalmond;
    color: black;
    transform:scale(1.05);
      transition-duration: 200ms;
  }
}

@media screen and (max-width: 429px) {
  .button-container {
    height: 7vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin: 1%0 10% 0%;
  }
}