.single-beer-container {
  height: 82vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80%;
  margin: 0 auto;


  .beer-info {
    height: 100%;
    width: 45vw;
  }

  .beer-container {
    width: 60vw;

    .basic-info {
      height: 60%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: wrap;
      margin: 20px;

      .name {
        border-bottom: 1px solid black;
        font-size: 3em;
      }

      .tagline {
        font-size: 2em;
      }

      .description {
        font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
        border-bottom: 2px solid orange;
      }
    }

    .detailed-info {
      height: 29vh;
      width: 29vw;
      margin: 20px;

      .about {
        font-size: 2em;
        border-bottom: 1px solid black;
      }

      .pairs-with {
        font-size: 2em;
        border-bottom: 1px solid black;
      }

      .details {
        font-size: 1em;
      }
    }
  }

  .img-container {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
      height: 95%;
      filter: saturate(0);
      filter: brightness(110%)
    }
  }
}