.single-beer-container {
  border: 1px solid orange;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.beer-info {
  border: 1px solid blue;
  height: 100%;
  width: 45vw;

  .pairings {
    border: 2px steelblue;

  }
}
    .beer-container {
      width: 50vw;
    }

    .basic-info{
      border: 1px solid red;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
    }

    .name {
      border: 1px solid white;
      font-size: 3em;
    }

    .tagline{
      font-size: 2em;

    }

    .description{
      border: 1px solid red;
    }

    .beer-mug {
      height: 100px;
      width: 85px;
    }