.beer-card {
  border: 2px solid black;
  display: flex;
  height: 215px;
  font-size: 95%;
  align-items: flex-start;
  width: 300px;
  border-radius: 6px;
  box-shadow: 0px 0px 4px black;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  .card-name {
    font-size: 1.5em;
  }

  .text-container {
    font-size: 1.2em;
    text-align: center;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .about-btn {
    background-color: #eb9c00;
    cursor: pointer;
    font-size: 21px;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      background-color: transparent;
      color: black;
    }

    &:focus {
      background-color: transparent;
      color: black;
    }
  }
}