.beer-card {
  border: 2px solid black;
  display: flex;
  height: 151px;
  font-size: 95%;
  align-items: flex-start;
  width: 285px;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 0px 0px 4px black;
  justify-content: center;

  .card-name {
    font-size: 1.5em;
  }

  .text-container{
    font-size: 1.2em;
  }

  .btn-container {
    color: #ff8c2e;
  }

  .beer-icon {
    height: 1em;
  }

  .pair-btn {
    background-color: #eb9c00;
    cursor: pointer;
    font-size: 21px;
    border-radius: 5px;
  }

  .pair-btn:hover {
    cursor: pointer;
    background-color: transparent;
    color: black;
  }
  
  .pair-btn:focus {
    background-color: transparent;
    color: black;
  }
}