.header {
  color: blanchedalmond;
  display: flex;
  align-content: stretch;
  flex-direction: row;
  border-bottom: 3px solid black;
  justify-content: space-between;
  align-items: flex-start;


  .title-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    margin: .5%;

    .site-name {
      font-size: 3rem;
      color: blanchedalmond;
      border-bottom: 2px solid orange;
      margin-left: 10px;

      &:hover {
        transform:scale(1.05);
        transition-duration: 200ms;
        transition-timing-function: ease;

      }
    }

    .site-tagline {
      font-size: 1.4rem;
      padding: 5px;
    }
  }

  .home-icon {
    height: 3em;
    width: 3em;
    margin: 10px;
    filter: drop-shadow(6px 2px 0px black);

    &:hover {
      transform:scale(1.05);
      transition-duration: 200ms;
    }
  }
}

@media screen and(max-width: 1000px) {
  .header {
    font-size: .9rem;
  }
}