.header {
  color: white;
  display: flex;
  align-content: stretch;
  flex-direction: row;
  border-bottom: 3px solid black;
  justify-content: space-between;
  align-items: flex-start;


  .title-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    width: 65%;

    .site-name {
      font-size: 2.7em;
      color: white;
      border-bottom: 2px solid orange;
      margin-left: 10px; 
    }

    .site-tagline {
      font-size: 1.5em;
      padding: 5px;
    }
  }

  .home-icon {
    height: 3em;
    width: 3em;
    margin: 10px;
    filter: invert(100%);
    &:hover{
      transform: scale(1.1)
    }
  }
}
