@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}

body {
  font-family: "Questrial", sans-serif;
  background-color: white;
  color: black;
}


.homepage{
  height: 85%;
  display:flex; 
  justify-content: center;
  align-items:center;
}

.filter-container{
  width: 75vw;
  height: 85%;
}

.start-text{
  font-size: 2em;
  text-align: center;
}

.filter-links{
  border: 2px solid black;;
  height: 90%;
  width: 90%;
  margin: 0 auto;
}

.App{
  height:100vh;
}