@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

*{
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #000000;
  color: white;
  // border: 1px solid magenta;
  // height: 100vh;
}


.homepage{
  border: 2px solid blue;
  height: 85%;
  display:flex; 
  justify-content: center;
  align-items:center;
}

.filter-container{
  border: 3px solid purple;
  width: 75vw;
  height: 85%;
}

.start-text{
  font-size: 2em;
  text-align: center;
}

.filter-links{
  border: 2px solid white;
  height: 90%;
  width: 90%;
  margin: 0 auto;
}

.App{
  height:100vh;
}