@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}

body {
  font-family: "Questrial", sans-serif;
  background-color: white;
  color: black;
  min-height: 100vh;
  width: 100%;
}

.App{
  min-height:100%;
}

.loading-spinner{
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  height:85vh;
  justify-content:center;
  align-items: center;
  align-content: center;
}


